<header class="site-header">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">Sadiq<span>Huq</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>
<!--
        {% for item in site.navbar %}
          <li><a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        <li><a href="{{ site.repo }}/archive/master.zip" title="Download">Download</a></li>
-->	
        <li><a href="{{site.baseurl}}/cv/">CV</a></li>
        <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
        <li><a href="{{site.baseurl}}/tags/">tags</a></li>
        <li><a href="{{site.baseurl}}/archive/">archive</a></li>
        <li><a href="{{site.baseurl}}/gallery/">gallery</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss" style="color:#FA9B39;"></i></a></li>
<!--
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i></a></li>
-->	
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>
