<!--  
<ul class="social">
  <li><a href="{{ site.author.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <li><a href="{{ site.author.github }}" target="_blank"><i class="icon icon-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li>
</ul>
-->  
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<ul class="social">
<li><a href="{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin" style="color:#0077B5;"></i></a></li>
<li><a href="{{ site.author.github }}" target="_blank"><i class="fa fa-github" style="color:black;"></i></a></li>
<li><a href="{{ site.author.youtube }}" target="_blank"><i class="fa fa-youtube" style="color:#e52d27;"></i></a></li>
<li><a href="{{ site.author.stackoverflow }}" target="_blank"><i class="fa fa-stack-overflow" style="color:orange;"></i></a></li>
</ul>	
