/*=====================================
=            Minor Quick Fixes        =
=====================================*/

.fa-kaggle-font:before {
  font-family: roboto;
  color: #429bf4;
  font-size: 1.2em;
  content: "k";
}
